<div class="container">
	<h1 class="center">
		Please sign in!
	</h1>
	<%= form_for(:session, url: signin_path, :html => { :class => "form-signin"}) do |f| %>
		<div id="fields">
			<div id="email">
				<%= f.text_field :email, :placeholder => "Email", :class => "input-block-level"%>
			</div>
			
			<div id="password">
				<%= f.password_field :password, :placeholder => "A tua password", :class => "input-block-level"%>
			</div>
			<div id="remember">
				<label class="checkbox">
				<%= check_box_tag :remember_me, 1, params[:remember_me] %>
				Lembrar-me
				</label>
			</div>
		</div>
		<%= f.submit 'Sign in', :class => 'btn btn-primary'%>
	<% end %>
	<div class="center">
		Are you new? <%= link_to "Signup now!", signup_path %>
	</div>
</div>