<div class="container profile">
	
	<h1>
		<%= gravatar_for @user, size: 150 %>
		<%= @user.username %>'s profile
	</h1>
	<div class="row">
		<div class="span6 offset3">				
			<%= gmaps({ direction: {
							data: { from: @first, to: @last},
							options: { travelMode: "WALKING", waypoints: @waypoints }}
						})%>				
		</div>
		<div class="span3 times">
			<h2> My times <%= @all  %></h2>
		</div>
	</div>
	<div class="row">
		<div class="span6 offset3 track">
			<% if !@tracks.nil? %>
				<%= render 'tracks/track', tracks: @tracks %>
			<% end %>
		</div>
	</div>
	<div>
		<%
		json = "{
	\"user_id\":1,
	\"approved\":false,
	\"name\": \"Trilho da Boavista\",
	\"private\":true,
	\"initial_time\": \"2013:1:1:20:0:1:987\",
	\"final_time\": \"2013:1:1:20:15:1:0\",
	\"points\":[{\"latitude\": \"41.157671\",
		\"longitude\": \"-8.627787\"},
		{\"latitude\": \"41.158818\",
		\"longitude\": \"-8.628495\"},
		{\"latitude\": \"41.158725\",
		\"longitude\": \"-8.62982\"},
		{\"latitude\": \"41.157898\",
		\"longitude\": \"-8.63034\"},
		{\"latitude\": \"41.157009\",
		\"longitude\": \"-8.629589\"},
		{\"latitude\": \"41.15734\",
		\"longitude\": \"-8.625716\"},
		{\"latitude\": \"41.15709\",
		\"longitude\": \"-8.624107\"},
		{\"latitude\": \"41.156896\",
		\"longitude\": \"-8.623055\"},
		{\"latitude\": \"41.156702\",
		\"longitude\": \"-8.6218\"},
		{\"latitude\": \"41.156492\",
		\"longitude\": \"-8.62077\"}
	]
}"
		%>
		<%= button_to("Sync mobile", mobile_path(:track => json))%>
	</div>
</div>